# R specific
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
.Rproj.user
.Rhistory
.Rdata
.Ruserdata
*.Rproj
*.Rhistory
*.RData
*.Ruserdata

# R package build
.Rcheck/
.Rbuildignore

# Environment files
.env
.env.*

# OS generated
.DS_Store
Thumbs.db

# Logs
*.Logs

# Images
*.png
*.jpg
*.jpeg

# Ignore regression, table, and report outputs
outputs/
data/
report_generation/sunapee_nearshore_tabletemplate.docx
report_generation/partridge_monthly_pre_poat_treatment.docx